html {
  box-sizing: border-box;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
  50% {
    transform: translateY(-2%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
}

*,
*::after,
*::before {
  box-sizing: inherit;
}
body {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  font-family: "Montserrat", sans-serif;
  background-color: #ab5aea;
  margin: 0;
}
a {
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 500;
  color: #ab5aea; /* Более тёмный цвет для лучшего контраста на белом фоне */
}
a:hover {
  color: #8d43c5;
  font-weight: 600;
  transform: scale(1.05);
}

header {
  background-color: white;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  z-index: 1000; /*Ensures header stays on top*/
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  max-width: 1300px;
  height: 50px; /* Сохраняем высоту, если нужно */
}

.navbar .logo a {
  color: #ab5aea;
  font-size: 3rem;
  font-weight: 600;
}

.navbar .logo:hover {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transform: scale(1.05);
  font-weight: 650;
}

.navbar .links {
  display: flex;
  gap: 2.9rem;
}

.navbar .toggle_btn {
  color: #ffffff; /* Более тёмный цвет для лучшего контраста */
  font-size: 1.3rem;
  background-color: #ab5aea;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  /* Removed display: none; */
  width: auto; /* Adjust width as needed */
  height: auto; /* Adjust height as needed */
  padding: 8px 16px; /* Add some padding */
  display: none;
}
.dropdown_menu {
  display: none; /* Initially hide the dropdown */
}

.header-button {
  padding: 10px 20px;
  background-color: #ab5aea;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 20px;
}

.header-button:hover {
  transform: scale(1.05);
  box-shadow: -4px 8px 38px 24px rgba(128, 31, 222, 0.2);
  cursor: pointer;
}
/*ВЫПАДАЮЩЕЕ МЕНЮ*/
.dropdown_menu {
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  height: 0;
  width: 300px;
  background: rgb(254, 241, 255);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu.open {
  height: 240px;
}

.dropdown_menu a {
  padding: 0.7rem;
  display: block; /*Добавил это, чтобы исправить проблему выравнивания*/
  text-align: center;
}
.dropdown_menu .header-button {
  width: 100%;
  display: block; /*Добавил это, чтобы исправить проблему выравнивания*/
  text-align: center;
}

/*АДАПТИВНАЯ ВЕРСТКА */
@media (max-width: 992px) {
  .navbar .links,
  .navbar .header-button {
    display: none;
  }
  .navbar .toggle_btn {
    display: block;
  }
  .dropdown_menu {
    display: block;
    right: 2rem; /*Исправленная позиция для меньших разрешений*/
  }
}

@media (max-width: 992px) {
  .dropdown_menu {
    left: 2rem;
    width: unset;
  }
}
.bgtext {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  p {
    padding: 200px 0px;
    width: 100%;
    font-size: 60px;
    color: white;
    text-align: center;
    font-weight: 600;
    position: relative;
    svg {
      height: 55%;
      top: 150px;
      right: -200px;
      position: absolute;
      filter: blur(4px);
      filter: brightness(4px);
    }
  }
}

.register-button {
  padding: 0.5em 1.5em;
  background-color: transparent;
  font-size: 1.5em;
  text-transform: uppercase;
  color: white;
  border: 2px solid white;
  border-radius: 2em;
  margin-top: 20px;
  margin-left: 42%;
  box-shadow: 0 0 5px white;
  transition: transform 0.5s ease;
}

.register-button:hover {
  transform: scale(1.1);
  color: #ab5aea;
  background-color: #e7c8ff;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #f7ecff;
  margin: 15% auto;
  padding: 20px;
  border-radius: 5px; /* Добавлено скругление углов */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Добавлена тень */
  width: 300px;
}

.close-modal {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close-modal:hover,
.close-modal:focus {
  color: #3a0960;
  text-decoration: none;
}

.modal form {
  display: flex;
  flex-direction: column; /* Элементы располагаются вертикально */
  gap: 15px; /* Отступ между элементами формы */
}

.modal label {
  margin-bottom: 5px; /* Отступ снизу от label */
}

.modal input[type="text"],
.modal input[type="tel"] {
  padding: 10px;
  border: 1px solid #d8b4f3;
  border-radius: 5px; /* Скругление углов input */
  box-sizing: border-box; /* Чтобы padding учитывался в ширине */
}

.modal button[type="submit"] {
  padding: 10px 20px;
  background-color: #ab5aea; /* Цвет кнопки */
  color: white;
  border: none;
  border-radius: 5px; /* Скругление углов кнопки */
  cursor: pointer;
}

.modal button[type="submit"]:hover {
  background-color: #cd8bff;
}

.sales h2 {
  color: rgb(255, 255, 255);
  font-size: 60px;
  font-weight: 400;
  margin-left: 120px;
  margin-top: 5%;
  margin-bottom: 5%;
}

.image-row {
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 100px;
  gap: 5px;
}

.image-row img {
  width: calc(110% - 5px);
  height: 400px;
  display: block;
  margin-bottom: 20px;
}

.image-row figure {
  text-align: center;
}

.image-row figure:hover {
  animation: bounce 1s 2;
}

.image-row figcaption {
  font-size: 1.2em;
  color: white;
  margin-top: 1px;
  font-weight: 400;
  text-align: center;
}

.services {
  margin-bottom: 10px;
}

.services h2 {
  color: rgb(255, 255, 255);
  font-size: 60px;
  font-weight: 400;
  margin-left: 120px;
  margin-top: 10%;
  margin-bottom: 5%;
}

.service {
  display: flex;
  align-items: center;
  padding: 50px;
  margin-left: 110px;
}

.service__inner {
  display: flex;
}

.service img {
  width: 400px;
  height: auto;
}

.service__text {
  margin-left: 5em;
}

.service__text h3 {
  color: rgb(255, 255, 255);
  font-size: 3em;
  font-weight: normal;
  margin-bottom: 30px;
}

.service__text p {
  color: white;
  line-height: 1.5;
  font-size: 25px;
  width: 70%;
  font-weight: 300;
  padding-bottom: 30px;
}

.body_button {
  padding: 0.8em 2em;
  background-color: transparent;
  font-size: 1.2em;
  text-transform: uppercase;
  color: white;
  border: 2px solid white;
  border-radius: 2em;
  margin-top: 1em;
  box-shadow: 0 0 5px white;
  transition: transform 0.5s ease;
  cursor: pointer;
}

.body_button:hover {
  transform: scale(1.1);
  color: #ab5aea;
  background-color: #e7c8ff;
}

.line2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-top: 20px;
}

.services2 {
  margin-bottom: 50px;
}

.service2 {
  margin-top: 50px;
  display: flex;
  align-items: center;
  padding: 50px;
  justify-content: space-between;
}

.service__inner2 {
  display: flex;
}

.service2 img {
  width: 400px;
  height: auto;
  margin-right: 100px;
}

.service__text2 {
  margin-left: 5em;
}

.service__text2 h3 {
  color: rgb(255, 255, 255);
  font-size: 3em;
  font-weight: normal;
  margin-bottom: 50px;
}

.service__text2 p {
  color: white;
  line-height: 1.5;
  font-size: 25px;
  width: 70%;
  font-weight: 300;
  padding-bottom: 50px;
}

.body_button2 {
  padding: 0.8em 2em;
  background-color: transparent;
  font-size: 1.2em;
  text-transform: uppercase;
  color: white;
  border: 2px solid white;
  border-radius: 2em;
  box-shadow: 0 0 5px white;
  transition: transform 0.2s ease;
  cursor: pointer;
}

.body_button2:hover {
  transform: scale(1.1);
  color: #6800b8;
  background-color: #e7c8ff;
}

.services3 {
  margin-bottom: 20px;
}

.service3 {
  display: flex;
  align-items: center;
  padding: 50px;
  margin-left: 110px;
}

.service__inner3 {
  display: flex;
}

.service3 img {
  width: 400px;
  height: auto;
}

.service__text3 {
  margin-left: 5em;
}

.service__text3 h3 {
  color: rgb(255, 255, 255);
  font-size: 3em;
  font-weight: normal;
  margin-bottom: 30px;
}

.service__text3 p {
  color: white;
  line-height: 1.5;
  font-size: 25px;
  width: 70%;
  font-weight: 300;
  padding-bottom: 30px;
}

.body_button3 {
  display: inline-flex;
  padding: 0.8em 2em;
  background-color: transparent;
  font-size: 1.2em;
  text-transform: uppercase;
  color: white;
  border: 2px solid white;
  border-radius: 2em;
  margin-top: 1em;
  box-shadow: 0 0 5px white;
  transition: transform 0.2s ease;
  cursor: pointer;
}

.body_button3:hover {
  transform: scale(1.1);
  color: #6800b8;
  background-color: #e7c8ff;
}

.services4 {
  margin-bottom: 50px;
}

.service4 {
  margin-top: 50px;
  display: flex;
  align-items: center;
  padding: 50px;
  justify-content: space-between;
}

.service__inner4 {
  display: flex;
}

.service4 img {
  width: 400px;
  height: auto;
  margin-right: 100px;
}

.service__text4 {
  margin-left: 5em;
}

.service__text4 h3 {
  color: rgb(255, 255, 255);
  font-size: 3em;
  font-weight: normal;
  margin-bottom: 50px;
}

.service__text4 p {
  color: white;
  line-height: 1.5;
  font-size: 25px;
  width: 70%;
  font-weight: 300;
  padding-bottom: 50px;
}

.body_button4 {
  padding: 0.8em 2em;
  background-color: transparent;
  font-size: 1.2em;
  text-transform: uppercase;
  color: white;
  border: 2px solid white;
  border-radius: 2em;
  box-shadow: 0 0 5px white;
  transition: transform 0.2s ease;
  cursor: pointer;
}

.body_button4:hover {
  transform: scale(1.1);
  color: #6800b8;
  background-color: #e7c8ff;
}

.safe {
  max-height: 300px;
  position: relative;
  width: 80%;
}

.safe h1 {
  outline: none;
  box-shadow: 0 0 30px #edbfff;
  border-radius: 90% 90% 90% 90%;
  position: absolute;
  z-index: 1;
  top: 100px;
  left: 110px;
  color: white;
  font-size: 60px;
  font-weight: 200;
  padding: 10%;
}

.outer-container {
  margin-top: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-container {
  margin-top: 20%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;
}

.text-content {
  margin: 30px;
  display: flex;
  flex-direction: column;
}

.grid-item {
  align-items: center;
  display: flex;
  overflow: hidden;
}

.grid-item img {
  width: 130px;
  height: auto;
}

.grid-item h2 {
  font-weight: 300;
  color: white;
  font-size: 40px;
  width: 250px;
}

.grid-item p {
  color: white;
  width: 300px;
  font-size: 20px;
  letter-spacing: 0.05em;
}

.line {
  border: none; /* Убираем стандартную границу */
  height: 3px; /* Толщина линии */
  background-color: #edbfff;
  box-shadow: 0 0 5px #ffffff, 0 0 5px #edbfff; /* Неоновый эффект */
}

footer {
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 70px;
  margin-bottom: 5px;
}

.logo2 {
  font-size: 60px;
  color: #ffffff;
  margin-left: 10px;
}

.information {
  grid-area: g;
}

.information {
  grid-area: g;
}

.image-button {
  margin-right: 20px;
  width: 50px;
  height: 50px;
  border: none;
  background-image: url("icons8-whatsapp.svg");
  background-color: unset;
  background-size: cover;
  cursor: pointer;
}

.image-button2 {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  border: none;
  background-color: unset;
  background-image: url("icons8-телеграм.svg");
  cursor: pointer;
}

h5 {
  margin-bottom: 10px;
  font-size: 25px;
  color: #ffffff;
  font-weight: 600;
}

.text {
  padding-top: 3%;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.04em;
  text-align: left;
  color: #ffffff;
}
