html {
  box-sizing: border-box;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
  50% {
    transform: translateY(-2%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
}

*,
*::after,
*::before {
  box-sizing: inherit;
}
body {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  font-family: "Montserrat", sans-serif;
  background-color: #ab5aea;
  margin: 0;
}
a {
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 500;
  color: #ab5aea;
}
a:hover {
  color: #8d43c5;
  font-weight: 600;
  transform: scale(1.05);
}

header {
  background-color: white;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  max-width: 1300px;
  height: 50px;
}

.navbar .logo a {
  color: #ab5aea;
  font-size: 3rem;
  font-weight: 600;
}

.navbar .logo:hover {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transform: scale(1.05);
  font-weight: 650;
}

.navbar .links {
  display: flex;
  gap: 2.9rem;
}

.navbar .toggle_btn {
  color: #ffffff;
  font-size: 1.3rem;
  background-color: #ab5aea;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  width: auto;
  height: auto;
  padding: 8px 16px;
  display: none;
}

.header-button {
  padding: 10px 20px;
  background-color: #ab5aea;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 20px;
}

.header-button:hover {
  transform: scale(1.05);
  box-shadow: -4px 8px 38px 24px rgba(128, 31, 222, 0.2);
  cursor: pointer;
}
/*ВЫПАДАЮЩЕЕ МЕНЮ*/
.dropdown_menu {
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  height: 0;
  width: 300px;
  background: rgb(254, 241, 255);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu.open {
  height: 240px;
}

.dropdown_menu a {
  padding: 0.7rem;
  display: block;
  text-align: center;
}
.dropdown_menu .header-button {
  width: 100%;
  display: block;
  text-align: center;
}

/*АДАПТИВНАЯ ВЕРСТКА */
@media (max-width: 992px) {
  .navbar .links,
  .navbar .header-button {
    display: none;
  }
  .navbar .toggle_btn {
    display: block;
  }
  .dropdown_menu {
    display: block;
    right: 2rem;
    left: 2rem;
    width: unset;
  }
}
.bgtext {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.bgtext p {
  padding: 100px 0px;
  width: 100%;
  font-size: 4em;
  color: white;
  text-align: center;
  font-weight: 600;
  position: relative;
  text-align: center;
}

.bgtext p svg {
  height: 55%;
  top: 150px;
  right: -200px;
  position: absolute;
  filter: blur(4px);
  filter: brightness(4px);
}
/*МЕДИАЗАПРОС ДЛЯ ГЛАВНОГО ЗАГОЛОВКА*/
@media (max-width: 768px) {
  .bgtext p {
    font-weight: 700;
    font-size: 1.8em;
    padding: 50px 0;
    line-height: 3rem;
  }
  .bgtext p svg {
    display: none;
  }
}

.register-button {
  padding: 0.5em 1.5em;
  background-color: transparent;
  font-size: 1.5em;
  text-transform: uppercase;
  color: white;
  border: 2px solid white;
  border-radius: 2em;
  margin: 30px auto;
  display: block;
  box-shadow: 0 0 5px white;
  transition: transform 0.5s ease;
}

.register-button:hover {
  transform: scale(1.1);
  color: #ab5aea;
  background-color: #e7c8ff;
}

@media (max-width: 768px) {
  .register-button {
    font-size: 1em;
    margin-bottom: 50px;
  }
}
/*ФОРМА ДЛЯ ЗАПИСИ*/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1000;
}

.modal-content {
  background-color: #f7ecff;
  margin: 15% auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 300px;
}

.close-modal {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close-modal:hover,
.close-modal:focus {
  color: #3a0960;
  text-decoration: none;
}

.modal form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.modal label {
  margin-bottom: 5px;
}

.modal input[type="text"],
.modal input[type="tel"] {
  padding: 10px;
  border: 1px solid #d8b4f3;
  border-radius: 5px;
  box-sizing: border-box;
}

.modal button[type="submit"] {
  padding: 10px 20px;
  background-color: #ab5aea;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal button[type="submit"]:hover {
  background-color: #cd8bff;
}
.line2 {
  width: 100%;
  text-align: center;
  margin: 20px 0;
  overflow: hidden;
}

.line2 img {
  max-width: 100%;
  height: auto;
  display: block;
}

/*АКЦИИ*/
.sales h2 {
  color: rgb(255, 255, 255);
  font-size: 60px;
  font-weight: 400;
  margin-left: 120px;
  margin-top: 5%;
  margin-bottom: 5%;
}

.image-row {
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 100px;
  gap: 5px;
}

.image-row img {
  width: calc(110% - 5px);
  height: 400px;
  display: block;
  margin-bottom: 20px;
}

.image-row figure {
  text-align: center;
}

.image-row figure:hover {
  animation: bounce 1s 2;
}

.image-row figcaption {
  font-size: 1.2em;
  color: white;
  margin-top: 1px;
  font-weight: 400;
  text-align: center;
}
@media (max-width: 768px) {
  .image-row {
    display: block;
  }
  .image-row img {
    width: 70%;
    height: 70%;
    display: block;
    margin-bottom: 40px;
  }
  .sales h2 {
    font-size: 3em;
    margin-left: 10%;
  }
}

/*УСЛУГИ*/

.services {
  margin-bottom: 10px;
}

.services h2 {
  color: rgb(255, 255, 255);
  font-size: 60px;
  font-weight: 400;
  margin-left: 120px;
  margin-top: 10%;
  margin-bottom: 5%;
}

.service-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service {
  display: flex;
  align-items: center;
  width: 80%;
  margin: 20px auto;
  padding: 20px;
}

.service__image,
.service__text {
  flex: 1;
}

.service__image {
  margin-right: 20px;
}
.service__text {
  margin-left: 20px;
}

.service img {
  max-width: 100%;
  height: auto;
}

.service__text h3 {
  color: white;
  font-size: 3em;
  font-weight: normal;
  margin-bottom: 15px;
}

.service__text p {
  color: white;
  line-height: 1.5;
  font-size: 25px;
  font-weight: 300;
  margin-bottom: 60px;
}

.body_button {
  padding: 0.8em 2em;
  background-color: transparent;
  font-size: 1.2em;
  text-transform: uppercase;
  color: white;
  border: 2px solid white;
  border-radius: 2em;
  margin-top: 1em;
  box-shadow: 0 0 5px white;
  transition: transform 0.5s ease;
  cursor: pointer;
}
.body_button:hover {
  transform: scale(1.1);
  color: #6800b8;
  background-color: #e7c8ff;
}
/*МЕДИАЗАПРОС ДЛЯ УСЛУГ*/
@media (max-width: 768px) {
  .service {
    flex-direction: column;
    align-items: center;
    width: 90%;
  }

  .service__image,
  .service__text {
    flex: 1;
    margin: 30px 0;
    margin-left: 20px;
  }
  .service__text h3 {
    font-size: 2.1em;
    margin-top: 10px;
  }
  .services h2 {
    font-size: 3em;
    margin-left: 10%;
  }
}

.safe {
  max-height: 300px;
  width: 80%;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.safe h1 {
  outline: none;
  box-shadow: 0 0 30px #edbfff;
  border-radius: 15px;
  color: white;
  font-size: 3em;
  font-weight: 300;
  text-align: center;
  padding: 20px;
}

/*МЕДИАЗАПРОС ДЛЯ ПРИНЦИПОВ*/
@media (max-width: 768px) {
  .safe h1 {
    font-size: 2em;
  }
}

.outer-container {
  margin-bottom: 5%;
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 30px;
  max-width: 90%;
  width: 100%;
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.grid-item img {
  width: 130px;
  height: auto;
}

.grid-item h2 {
  font-weight: 300;
  color: white;
  font-size: 40px;
  width: 250px;
}

.grid-item p {
  color: white;
  width: 300px;
  font-size: 20px;
  letter-spacing: 0.05em;
}
@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}
.line {
  border: none;
  height: 3px;
  background-color: #edbfff;
  box-shadow: 0 0 5px #ffffff, 0 0 5px #edbfff;
}
footer {
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 70px;
  margin-bottom: 5px;
}

.logo2 {
  font-size: 60px;
  color: #ffffff;
  margin-left: 10px;
}

.image-button,
.image-button2 {
  margin-bottom: 10px;
  width: 50px;
  height: 50px;
  border: none;
  background-size: cover;
  cursor: pointer;
}

.image-button {
  background-image: url("icons8-whatsapp.svg");
  background-color: unset;
}

.image-button2 {
  background-image: url("icons8-телеграм.svg");
  background-color: unset;
}

h5 {
  margin-bottom: 10px;
  font-size: 25px;
  color: #ffffff;
  font-weight: 600;
}

.text {
  padding-top: 3%;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.04em;
  text-align: left;
  color: #ffffff;
}

/* МЕДИАЗАПРОС ДЛЯ ФУТЕРА */
@media (max-width: 768px) {
  footer {
    display: block;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
  }
  .logo2 {
    margin-bottom: 20px;
  }
  .image-button,
  .image-button2 {
    margin: 10px auto;
    display: inline-block;
  }

  h5 {
    margin-bottom: 10px;
  }
}
